<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%if logged_in?%>
        Welcome <%=current_user.user_name%>
      <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Logout">
      
    <% else %>
      <a href="<%= new_session_url %>">Login</a>
      <a href="<%= users_url %>">Sign Up</a>

    </form>
    <%end%>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
